exclude-queries: fd54f200-402c-4333-a5a4-36ef6709af2f,cf34805e-3872-4c08-bf92-6ff7bb0cfadb,02323c00-cdc3-4fdc-a310-4f2b3e7a1660
# fd54f200-402c-4333-a5a4-36ef6709af2f - Excluding check for Dockerfile USER directive as it breaks infrastructure needed permissions
# cf34805e-3872-4c08-bf92-6ff7bb0cfadb - Excluding check for non-root user as it breaks infrastructure needed permissions
# 02323c00-cdc3-4fdc-a310-4f2b3e7a1660 - Excluding check for "Container Running With Low UID" as it breaks infrastructure needed permissions
