---
apiVersion: v1
kind: Service
metadata:
  name: conjur-master
  labels:
    app: conjur-cluster-svc
spec:
  # This service allows other in-cluster services to reach the leader since
  # LoadBalancer doesn't expose internal routing.
  type: ClusterIP
  selector:
    app: conjur-node
  ports:
  - name: https
    protocol: TCP
    port: 443
  - name: ldaps
    protocol: TCP
    port: 663
  - name: pg-main
    protocol: TCP
    port: 5432
  - name: syslog-audit
    protocol: TCP
    port: 1999
